/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

body {
  margin-left: 0px;
  margin-right: 0px;
}

#top-nav {
  position: relative;
}

#header-right > li > a {
  color: black;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}

.left-side-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20rem;

}

.right-side {
  margin-right: 10rem;
  text-align: justify;

}

.content {
  padding: 20px;
}

#desc {
  font-family: 'Do Hyeon', sans-serif;
}

#desc2 {
  font-family: 'Do Hyeon', sans-serif;
  padding-left: 20px;
}

#portrait {
  text-align: center;
}

#aboutme {
  padding-top: 5em;
  max-width: 500px;
  margin:0 auto;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}
#contactme {
  padding-top: 5em;
  padding-left: 22.7em;
  padding-right: 40em;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

}


#bold {
  font-weight: bold;
}
