/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

body {
  margin-left: 0px;
  margin-right: 0px;
}

#header-right > li > a {
  color: black;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}

.left-side-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20rem;

}

.right-side {
  margin-right: 10rem;
  text-align: justify;

}

.content {
  padding: 20px;
}

#title {
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
}

#cv {
  font-family: 'Noto Sans TC', sans-serif;
padding-left: 17em;
}

#concordia {
  margin-bottom: 5em;
  font-size: 12px;
}

#brebeuf1 {

  font-size: 12px;
}

#brebeuf2 {
  font-size: 12px;
}

#desc {
  font-family: 'Do Hyeon', sans-serif;
}

#desc2 {
  font-family: 'Do Hyeon', sans-serif;
  padding-left: 20px;
}

#seperator {
  margin-top: 2em;
  margin-bottom: 2em;
}

#divide {
  margin-bottom: 5em;
}

#CVimage {
 text-align: center;
}
