/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

body {
  margin-left: 0px;
  margin-right: 0px;
}

#header-right > li > a {
  color: black;
}

#cent {
  text-align: center;
}

#heritage2 {
  text-align: center;
}

#title {
  max-width: 924px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin: 0 auto;
  padding-top: 2em;
  font-weight: 400;

}

#title2 {
  max-width: 924px;
  text-align: left;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-bottom: 1em;
  padding-top: 2em;
  font-weight: 400;
}
#title3 {
  max-width: 924px;
  text-align: left;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-bottom: 2em;
  font-weight: 400;
}
#titleheritage1 {
  max-width: 924px;
  text-align: left;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
font-weight: 400;
  padding-top: 2em;
}

#titledc {
  max-width: 924px;
  text-align: left;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding-top: 2em;
  font-weight: 400;
}

#titlemt {
  max-width: 924px;
  text-align: left;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding-top: 2em;
  font-weight: 400;
}

#mount {
  margin-bottom: 20px;
}
#mountfront {
  text-align: center;
}

#mountdesc01 {


  text-align: justify;
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
  max-width: 924px;
  margin:0 auto;
  margin-bottom: 3em;
}

#mountdesc02 {

  text-align: justify;
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
  max-width: 924px;
  margin:0 auto;

}

#mountdesc03 {


  text-align: justify;
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
max-width: 924px;
margin:0 auto;
margin-bottom: 2em;
}

#description {

  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  max-width: 924px;
  margin:0 auto;
margin-bottom: 2em;
}
